<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../base/assets/fonts/fonts.css" />
		<link href="../base/alibs/bs4/bootstrap.min.css" rel="stylesheet" />
		<!-- <link rel="stylesheet" href="../templates/template_styles.css" /> -->

		{% block icon_title %} {% endblock %}
	</head>
	<body>
		<div class="topmenu" style="background: silver; padding-left: 10px">
			<a href="/c1">consense</a>
			<a href="/car">car</a>
			<a href="/todo">todo</a>
			<a href="/user">user</a>
		</div>
		<nav class="navbar navbar-light bg-light">
			<span class="navbar">
				<a class="navbar-brand" href="/"><img height="40" src="../templates/c1/logo.png" /></a>
				<a class="nav-link" href="/c1/link1">Link1</a>
				<a class="nav-link" href="/c1/link2">Link2</a>
				<a class="nav-link" href="/c1/link3">Link3</a>
				<!-- <a class="nav-link disabled" href="#">Disabled</a> -->
			</span>
			<form class="form-inline my-2 my-lg-0" style="min-width: 400px">
				<input class="form-control mr-sm-2 w-75" type="search" placeholder="Search" aria-label="Search" />
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</nav>
		<div class="container">
			{% if message %}
			<p class="message">{{ message | safe }}</p>
			{% endif %}
		</div>

		{% block content %} {% endblock %}
		<script src="../base/alibs/jq3.js"></script>
		<script src="../base/alibs/bs4/bootstrap.bundle.min.js"></script>
	</body>
</html>
